.home-section {
  height:100vh;
  width: 100%;
  background: radial-gradient(rgba(0, 0, 255, 0.244),rgba(255, 255, 255, 0.596));
  display: flex;
  flex-direction: column;
  padding: 15rem 15rem 5rem 15rem;
  position: relative;
  
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.home-text{
  width: 50%;
}
.home-text h2 {
  color: #2d2e32;
  font-size: 5.5rem;
  line-height: 1.2;
}

.home-text h2 img {
  height: 6rem;
  width: 6rem;
  margin-left: 1rem;
  position: absolute;
}

.home-text p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #555;
  font-weight: 500;
  padding-top: 2.5rem;
}

.home-text span {
  display: flex;
  gap: 2.5rem;
  padding-top: 1.5rem;
}

.home-text span a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.home-text span a .colorfor {
  font-size: 3rem;
  padding-top: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.home-text span a .colorfor:hover {
  color: rgb(0, 50, 252);
}

.home-blob {
  display: block;
  position: relative;
  width: 35rem;
  height: 35rem;
  border: 3px solid #000;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  background-image: url("../../assets/second.png");
  animation: blobber 8s 0s linear infinite, cobler 8s 0s linear infinite alternate;
}

.home-blob:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  animation: blobber 30s 0s ease-in-out infinite, wobbler 15s 0s linear infinite alternate;
}

@keyframes blobber {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.tech-stack {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 5rem;

}

.tech-stack span {
  font-size: 1.9rem;
  font-weight: 600;
}

.pae {
  width: 0.2rem;
  height: 3.4rem;
  background-color: #555;
}




.home-logo ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.home-logo ul li {
  height: 6.6rem;
  width: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.165);
  cursor: pointer;

}


.home-logo ul li img {
  height: 4rem;
  width: 4rem;
}

@media  (max-width: 1230px) {
  .home-section{
    padding: 15rem 5rem 5rem 5rem;
  height:auto;
  }
  
.home-blob{
  width: 30rem;
  height: 30rem;
}
}

@media (max-width:1020px) {
  html,body{
    font-size: 50.5%;
  }
}
@media (max-width:600px) {
  .home-container{
    flex-direction: column-reverse;
    gap: 6rem;
  }
  .home-text {
    width: 90%;
    text-align: center;
  }
  .home-text span{
    justify-content: center;
  }
  .tech-stack{
    flex-direction: column;
    text-align: center;
    gap:2rem ;
  }
  .pae{
    width: 8rem;
    height: 0.2rem;
    transform: translateY(-1.5rem);
  }
  .home-logo ul {
    gap: 1rem;
  }
  home-text h2{
    flex-wrap: wrap;
  }
}
@media (max-width:290px) {
  html,body{
    font-size: 30%;
  }
}
@media (max-width:210px) {
  html,body{
    font-size: 25%;
  }
}