@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');

:root{
  --text-color:"#000"
  --bg-color:"#FFF"
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Baloo Bhai 2', cursive;
font-family: 'Poppins', sans-serif;
}

html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  background: #fff;
  color: #000;
}

.flex-class{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
}

@keyframes scale-up-center {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
}

@media screen and (max-width: 700px) {
.section__padding {
  padding: 4rem;
}

.section__margin {
  margin: 4rem;
}
}