.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 5rem 15rem 5rem 15rem;
    position: relative;
}

.about-image img {
    animation: topdown 2s alternate-reverse infinite;
    width: 55rem;
}

@keyframes topdown {
    0% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(1rem);
    }
}

.about-me {
    padding: 2rem 4rem 0 4rem;
}

.about-me h3 {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.about-me h2 {
    color: #2d2e32;
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.about-me p {
    color: #767676;
    font-family: Mulish, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
}

@media (max-width: 1027px) {
    .about-section {
        align-items: center;
        padding: 10rem 5rem 10rem 5rem;
        flex-direction: column;
        height: auto;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 4rem 4rem 4rem 4rem;
    }
}

@media (max-width: 560px) {
    .about-image img {
        width: 40rem;
    }
}