.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    height: 7.5rem;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    z-index: 99;
}

.nav-logo{
    font-size: 2.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color);
}
.nav-list{
    font-size: 2rem;
    display: flex;
    gap: 2.5rem;
}
.nav-list a{
    font-size: 1.7rem;
    color:var(--text-color);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s linear;
}
.nav-list .active{
    color:  rgb(159, 50, 0);
}
.nav-list a:hover{
    color: rgb(159, 50, 0);
}
.mobile-view{
    display: none;
}
.humberger{
    font-size: 3.5rem;
}
@media (max-width: 800px) {
    .nav-list{
        display: none;
    }
    .mobile-view{
        display: block;
    }
    
}
.white{
    position: absolute;
    right:1rem;
    top: 7rem;
    height: 30rem;
    width: 30rem;
    background:rgba(0,0,0,0.4) ;
    backdrop-filter:blur(15px);
    border: 2px solid rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    gap: 2rem;
}
.white a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 0 1rem 0 1rem;
}
.white a:hover{
    color:rgb(0, 106, 255);
}

