.project-section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem 5rem 10rem;
    position: relative;
    box-sizing: border-box;
    background: radial-gradient(rgba(220, 20, 60, 0.625),#fff);
}
.project-section h1{
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.project-text p{
    color: #2d2e32;
    font-size: 2.5rem;
    margin-bottom: 6rem;
    font-weight: 700;
}
.project-box{
    grid-gap: 5rem;
    display: grid;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
}
.project-grid{
    flex-direction: row;
    gap: 8rem;
    background: #000;
    border-radius: 1.8rem;
    height: 100%;
    
}

.project-box .pro{
    background:linear-gradient(rgba(1, 1, 231, 0.614),#fff);
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4rem;
    padding-left: 4rem;
}
.project-image-grid{
    background-color: hsla(0,0%,46%,.2);
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
   height: 80%;
   object-fit: cover;
    overflow: hidden;
    width: 50%;
    position: relative;
    padding-left: 2rem;
}
.project-image-grid img{
    height: 100%;
    width: 100%;
}


.project-text-desc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
}

.project-text-desc h3{
    text-align: center;
    font-size: 1.8rem;
    color:#ffffff;
    text-transform: uppercase;
    line-height: 4;
    margin-bottom: 2rem;
    margin: 0 auto;
} 
.project-text-desc p{
    color: #000000;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.project-text-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.project-text-btn button{
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.9rem 1.3rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.project-livedemo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.project-livedemo p a{
    text-decoration: none;
    cursor: pointer;
    color: #2d2e32;
    transition: all 0.3s linear;
    font-weight: 500;
}
.project-livedemo p a:hover{
    color: #147efb;
}




@media (max-width:1027px) {
    
    .project-section{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 100%;
        margin: 0 auto;
        padding: 40rem 5rem;
    }
    .project-grid{
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .project-grid h3 {
        line-height: 1;
    }
    
.project-text-desc {
    width: 80%;
}
.project-box .pro{
    padding:2rem 2rem 2rem 2rem ;
}
.project-livedemo{
    padding: 0 5rem;
}
.project-section{
    padding: 5rem 5rem 10rem 5rem;
}

.pro2{
    flex-direction: column-reverse;
}
}

