.Contact-section{
    background: #fff;
    padding: 11rem 11rem;
    display: flex;
    flex-direction: column;
}
.contact-heading h2{
    font-size: 2rem;
    color: #01207b;
    margin-bottom: 2rem;
}
.contact-heading h1{
    font-size: 2.5rem;
    color: #000;

}
.contact-details{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

}
.details-pro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.details-pro .loction-icon,.loction-pro{
    height: 7rem;
    width: 7rem;
    background: #e0dcdc;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-pro i ,.loction-pro i{
    font-size: 3rem;

}
.loction-details{
    display: flex;
    text-align: start;
    text-align: flex-start;
    flex-direction: column;
}

.loction-details h1{
    font-size: 2.5rem;
}
.loction-details p{
    font-size: 1.7rem;
}
.loction-details a{
    font-size: 1.7rem;
    text-decoration: none;
}

@media (max-width: 768px) {
    .Contact-section{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact-details{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 3rem;
    }
}